/nbproject
/assets 
/_protected/vendor/
/_protected/frontend/runtime/
/uploads/user_images/
/stock/assets/
/stock/runtime/
/steppingstone/assets/
/steppingstone/runtime/
/sawasawa/runtime/
/sawasawa/assets/
/safari/assets/
/rhs/runtime/
/rhs/assets/
/prtl/assets/
/prtl/runtime/
/nts/assets/
/nts/runtime/
/ngoapp/assets/
/ngoapp/runtime/
/ngo/assets/
/ngo/runtime/
/kennedy/assets/
/kennedy/runtime/
/bamboo/runtime/
/bamboo/assets/
/backend/assets/
/backend/runtime/